<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Servidor" value="SERVIDOR"/>
    <add key="BaseDatos" value="BASE DE DATOS"/>
    <add key="UsuarioBD" value="USUARIO DE BASE DE DATOS"/>
    <add key="PasswordBD" value="CONTRASEÑA"/>
    <add key="FirstTimeRunning" value="Si"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
