<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Servidor" value="LEO-PC"/>
    <add key="BaseDatos" value="LuxurySAPB1"/>
    <add key="UsuarioBD" value="sa"/>
    <add key="PasswordBD" value="12345"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
